.header__container{
  max-width: 1120px;
  margin: 0 auto 35px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  max-width: 64px;
  max-height: 64px;
}

.header__theme--dark path{
  fill: white;
}

.header__container--dark {
  max-width: 1120px;
  margin: 0 auto 35px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1120px) {
  .header__container{
    max-width: 940px;
    margin: 0 auto 35px;
  }

  .header__container--dark{
    max-width: 940px;
    margin: 0 auto 35px;
  }
}

@media (max-width: 960px) {
  .header__container{
    max-width: 700px;
    margin: 0 auto 35px;
  }

  .header__container--dark{
    max-width: 700px;
    margin: 0 auto 35px;
  }
}

@media (max-width: 720px){
  .header__container{
    max-width: 280px;
    margin: 0 auto 35px;
  }

  .header__container--dark{
    max-width: 280px;
    margin: 0 auto 35px;
  }
}