@import './paintings.scss';
@import './pagination.scss';
@import './filter.scss';
@import './select.scss';
@import './header.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}


@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.app__container--dark{
  background-color: #000;
}